<div class="container-fluid">
	<div class="wrapper d-flex flex-row">
		<div class="card col-6">
			<div class="card-body">
				<h5 class="card-title">Hotspot data</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">name</th>
							<th scope="col">online</th>
							<th scope="col">synced</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let hotspot of hotspotList(); let i = index">
							<td>{{ i+1 }}</td>
							<td>{{ hotspot.name }}</td>
							<td>{{ hotspot.online }}</td>
							<td>{{ hotspot.sync }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card col-6">
			<h5 class="card-title">Rewards total by account</h5>
			<div class="card-body">
				<div class="top-body d-flex">
					<div class="item">
						<span>24h</span>
						<h2>{{dayTotal}}</h2>
					</div>
					<div class="item">
						<span>7d</span>
						<h2>{{weekTotal}}</h2>
					</div>
				</div>
				<div class="bottom-body d-flex">
					<div class="item">
						<span>30d</span>
						<h2>{{monthTotal}}</h2>
					</div>
					<div class="item">
						<span>total</span>
						<h2>{{total}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<app-dashboard-chart></app-dashboard-chart>
		</div>
	</div>
</div>